/*-----------
-----All-----
-----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
justify-content: space-around;
  }
  
  /*----------
  ---Header---
  ----------*/
  
  header {
    margin-top: 5px;
      display: flex;
      position:relative; 
      justify-content: space-between;
      width: 100%;
      height: 80px;
      font-family: Circular,Helvetica,Arial,sans-serif;
      color: #484848;
      background-color: #fff;
      border-bottom:1px solid #DCE0E0;
      padding: 0% 10% 0%;
  }
  .header-right{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  }
.header-right img{
background-color: red;
  width: 70px;
  margin-left: 35px;
}
.header-right a{
  font-size: 14px;
}

  a {
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 12px;
  }

.box{
display: flex;
flex-direction: column;
align-items: center;
}
.box p{
  font-size: 15px;
}
.box div{
  width: 5px;
}


  /*---airbnb-logo---*/
  
      .logo {
          padding: 15px 40px;
          float: left;
          
      }
          .logo svg {
              width: 100px;
              
          }
  

  /*---search-bar---*/
  
  .bar{
    width:600px;
    background:white;
    box-shadow:0 0 5px hsl(0 0% 78%);
    height:55px;
    border-radius:50vw;
    display:flex;
    margin: 0 auto;
  }
  .bar div{
    border-radius:inherit;
    padding:0.8rem 1.5rem;
  }
  
  .bar div:hover{
    background:hsl(0 0% 94%);
  }

  .location{
  width:34%;
}
.check-in, .check-out, .guests{
  width:22%;
}

input[type="text"]{
  background:none;
  border:none;
  padding:0.2rem 0 0 0;
}

input[type="text"]:focus{
  outline:none;
}

.guests span{
  position:absolute;
  top:50%;
  right:10px;
  transform:translateY(-50%);
  background:#FF385C;
  color:white;
  font-size:0.8rem;
  padding:0.7rem;
  border-radius:50%;
}
.bar>div{
    position:relative;
  }
  
  
  .bar>div::before{
    position:absolute;
    content:"";
    left:0;
    top:50%;
    transform:translateY(-50%);
    width:1px;
    height:55%;
    background:hsl(0 0% 90%);
  }
  
  .bar>div:nth-of-type(1)::before{
     background:transparent;
  }
  
  
  
  /*---main-nav---*/

  
 
  /* site content*/
  .site-content{
      margin: 50px auto;
      width: 1740px;
      height: 1500px;
      font-family: Circular,Helvetica,Arial,sans-serif;
  }
  
  /*---logos filtres---*/
  
      .logo2{
    width: 1400px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 50px;
    margin-left: 70px;
    align-items: center;
      }
  /*---gallery-prices---*/
  
  .box{
    font-size:22px;
    align-self: auto;
    color: #484848;
}
#fleche{
  display: flex;
  align-items:flex-start;
}
  #fle{
    width: 26px;
  }
  .prices{
      width: 953px;
      height: 330px;
      margin-top: 170px;
  }
      .prices h3{
          font-weight: 100;
          font-size: 25px;
          color: #484848;
          margin-left: 5px;
      }
      .img{
          margin: 10px 5px 75px 15px;
      }
      .img img{
          width: 321px;
          height: 306px;
          border-radius: 15px;
      }
      .floatimg{

        float: left;
        text-align: left;
        display: flex;
      }
      .price-stamp{
          margin: -300px 0 0 12px;
          color: #fff;
          font-weight: 900;
          font-size: 22px;
          text-shadow: 0 0 6px #615e61;
      }
      .description{
          margin: 280px 0 0 0;
          font-size: 14px;
          color: #484848;
      }
  
  /*---line---*/

  


